<div class="max-w-screen-xl items-center sm:flex">
  <div class="p-10 sm:w-1/2">
    <div class="image object-center text-center">
      <img src="../public/picturs/pngegg (8).png" />
    </div>
  </div>
  <div class="p-5 sm:w-1/2">
    <div class="text">
      <span class="border-b-2 border-indigo-600 uppercase text-copli"">join Our Team</span>
      <h2 class="my-4 font-sans text-3xl font-bold sm:text-4xl text-maintxt">Om <span class="font-sans text-copli">Pink Polar Tecknologies</span></h2>
      <p></p>
      <p class="font-sans font-normal text-maintxt text-xl">
        PinkPolar Technologies tilbyder den første AI-baseret rekrutterings værktøj, for at nytænke et marked, der er konventionelt, og traditionel, hvilket ikke er blevet udfordret før. Vores rekrutterings værktøj, er integrer i en platform, som vil forbinde data og algoritmer, for at automatisere
        arbejdsgivernes krav og jobansøgernes kvalifikationer. Dette vil spare både tid og penge i rekrutterings processen, og samtidig undgå fejl matching af kandidater, og derved både øge effektivitet og trivslen på arbejdspladsen.
      </p>
    </div>
  </div>
</div>
