<section class="bg-white">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="my-4 font-sans text-3xl font-bold sm:text-4xl text-center text-maintxt">Kontakt <span class="font-sans text-indigo-600">os</span></h2>
        
        <p class="mb-8 lg:mb-16 font-light text-center font-sans   sm:text-xl text-maintxt">Har du brug for a tkomme i kontakt med os?  Vi glæder os til at høre fra dig, og hvordan vi kan hjælpe dig.</p>
        <form action="#" class="space-y-8">
            <div>
                
                <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Email" required>
            </div>
            <div>
                
                <input type="text" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Navn" required>
            </div>
            <div class="sm:col-span-2">
                
                <textarea id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:border-gray-600  dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Skriv din besked her"></textarea>
            </div>        
          
            <button  type="submit" class="w-full mb-6 inline-block bg-blue-600 text-maintxt  px-6 pt-2.5 pb-2 text-sm font-semibold leading-normal uppercase text-center text-white rounded-lg bg-iconsheaders sm:w-fit hover:bg-hoverbtt ">SEND BESKED</button>
        </form>
    </div>

  
  </section>



