<section class="dark:bg-white-900 m-8 bg-white">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-16 lg:px-6">
      <div class="mb-8 max-w-screen-md lg:mb-16">
        <h2 class="my-4 font-sans text-3xl font-bold sm:text-4xl">Find <span class="font-sans text-indigo-600">den rigtige kandidat til jobbet</span></h2>
  
        <!-- <p class="font-sans font-normal text-gray-500 text-gray-900 dark:text-gray-800 sm:text-xl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum inventore nam natus sint eaque labore, consectetur voluptatum odit impedit molestiae rem, fugiat totam. Distinctio nemo debitis commodi, numquam fuga esse?
        </p> class="h-7 w-7" -->
  
      </div>
  
  
      <div class="space-y-8 md:grid md:grid-cols-2 md:gap-12 md:space-y-0 lg:grid-cols-3">
        <div>
          <div class="bg-primary-100 dark:bg-primary-900 mb-4 flex h-10 w-10 items-center justify-center rounded-full lg:h-12 lg:w-12">
  
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="h-7 w-7"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path d="M320 464c8.8 0 16-7.2 16-16V160H256c-17.7 0-32-14.3-32-32V48H64c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320zM0 64C0 28.7 28.7 0 64 0H229.5c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64z"></path></svg>
          </div>
        </div>
        <h3 class="mb-2 text-xl font-bold text-indigo-600">Tilpasse ansøgning</h3>
        <p class="font-sans font-normal text-gray-900">
          Løsningen kan analysere en brugers CV og jobansøgning for at identificere relevante færdigheder, erfaringer og uddannelsesmæssige baggrunde, for at sammenligne disse oplysninger med kravene i en bestemt jobannonce og tilpasse ansøgningen til denne annonce.
        </p>    </div>
  
  
  
      <div>
        <div class="bg-primary-100 dark:bg-primary-900 mb-4 flex h-10 w-10 items-center justify-center rounded-full lg:h-12 lg:w-12">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="h-7 w-7"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M160 64c0-35.3 28.7-64 64-64H576c35.3 0 64 28.7 64 64V352c0 35.3-28.7 64-64 64H336.8c-11.8-25.5-29.9-47.5-52.4-64H384V320c0-17.7 14.3-32 32-32h64c17.7 0 32 14.3 32 32v32h64V64L224 64v49.1C205.2 102.2 183.3 96 160 96V64zm0 64a96 96 0 1 1 0 192 96 96 0 1 1 0-192zM133.3 352h53.3C260.3 352 320 411.7 320 485.3c0 14.7-11.9 26.7-26.7 26.7H26.7C11.9 512 0 500.1 0 485.3C0 411.7 59.7 352 133.3 352z"></path></svg>
    
        </div>
      </div>
      <h3 class="mb-2 text-xl font-bold text-indigo-600">CV tilpasset jobopslag</h3>
      <p class="font-sans font-normal text-gray-900">Vores løsning kan tage brugerens personlige kompetencer fra en anden brugerprofil (eks. LinkedIn) og omdanne dem til et CV, der er skræddersyet til en specifik jobannonce.</p>
    </div>
    <div>
      <div class="bg-primary-100 dark:bg-primary-900 mb-4 flex h-10 w-10 items-center justify-center rounded-full lg:h-12 lg:w-12">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="h-7 w-7"
          ><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path d="M3.4 81.7c-7.9 15.8-1.5 35 14.3 42.9L280.5 256 17.7 387.4C1.9 395.3-4.5 414.5 3.4 430.3s27.1 22.2 42.9 14.3l320-160c10.8-5.4 17.7-16.5 17.7-28.6s-6.8-23.2-17.7-28.6l-320-160c-15.8-7.9-35-1.5-42.9 14.3z"></path></svg
        >
     
      </div>
    </div>
  
    <h3 class="mb-2 text-xl font-bold text-indigo-600">Jobmach for jobansøgere</h3>
    <p class="font-sans font-normal text-gray-900">Systemet vil præsentere 3-5 jobmach for hver jobansøger baseret på deres CV, kompetencer og præferencer.</p>
  
  <div>
    <div class="bg-primary-100 dark:bg-primary-900 mb-4 flex h-10 w-10 items-center justify-center rounded-full lg:h-12 lg:w-12">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="h-7 w-7"
        ><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path
          d="M384 480h48c11.4 0 21.9-6 27.6-15.9l112-192c5.8-9.9 5.8-22.1 .1-32.1S555.5 224 544 224H144c-11.4 0-21.9 6-27.6 15.9L48 357.1V96c0-8.8 7.2-16 16-16H181.5c4.2 0 8.3 1.7 11.3 4.7l26.5 26.5c21 21 49.5 32.8 79.2 32.8H416c8.8 0 16 7.2 16 16v32h48V160c0-35.3-28.7-64-64-64H298.5c-17 0-33.3-6.7-45.3-18.7L226.7 50.7c-12-12-28.3-18.7-45.3-18.7H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H87.7 384z"></path></svg
      >
    
    </div>
  </div>
  <h3 class="mb-2 text-xl font-bold text-indigo-600">Kandidat match for virksomheder</h3>
  <p class="font-sans font-normal text-gray-900">Platformen hjælper virksomheder med at finde egnede kandidater ved at matche 5-10 jobansøgere baseret på deres profil: CV'er, kompetencer og jobannoncens krav ect.</p>
  
  <div>
    <div class="bg-primary-100 dark:bg-primary-900 mb-4 flex h-10 w-10 items-center justify-center rounded-full lg:h-12 lg:w-12">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="h-7 w-7"
        >
        <path
          d="M234.7 42.7L197 56.8c-3 1.1-5 4-5 7.2s2 6.1 5 7.2l37.7 14.1L248.8 123c1.1 3 4 5 7.2 5s6.1-2 7.2-5l14.1-37.7L315 71.2c3-1.1 5-4 5-7.2s-2-6.1-5-7.2L277.3 42.7 263.2 5c-1.1-3-4-5-7.2-5s-6.1 2-7.2 5L234.7 42.7zM46.1 395.4c-18.7 18.7-18.7 49.1 0 67.9l34.6 34.6c18.7 18.7 49.1 18.7 67.9 0L529.9 116.5c18.7-18.7 18.7-49.1 0-67.9L495.3 14.1c-18.7-18.7-49.1-18.7-67.9 0L46.1 395.4zM484.6 82.6l-105 105-23.3-23.3 105-105 23.3 23.3zM7.5 117.2C3 118.9 0 123.2 0 128s3 9.1 7.5 10.8L64 160l21.2 56.5c1.7 4.5 6 7.5 10.8 7.5s9.1-3 10.8-7.5L128 160l56.5-21.2c4.5-1.7 7.5-6 7.5-10.8s-3-9.1-7.5-10.8L128 96 106.8 39.5C105.1 35 100.8 32 96 32s-9.1 3-10.8 7.5L64 96 7.5 117.2zm352 256c-4.5 1.7-7.5 6-7.5 10.8s3 9.1 7.5 10.8L416 416l21.2 56.5c1.7 4.5 6 7.5 10.8 7.5s9.1-3 10.8-7.5L480 416l56.5-21.2c4.5-1.7 7.5-6 7.5-10.8s-3-9.1-7.5-10.8L480 352l-21.2-56.5c-1.7-4.5-6-7.5-10.8-7.5s-9.1 3-10.8 7.5L416 352l-56.5 21.2z"
        ></path></svg
      >
   
    </div>
  </div>
  <h3 class="mb-2 text-xl font-bold text-indigo-600">Automatisk jobopslag forslag</h3>
  <p class="font-sans font-normal text-gray-900">Systemet kan skabe en jobannonce ud fra en given jobtitel/virksomhedsprofil ved at analysere lignende stillingsopslag og identificere fælles krav, ansvarsområder og kvalifikationer.</p>
  
  <div>
    <div class="bg-primary-100 dark:bg-primary-900 mb-4 flex h-10 w-10 items-center justify-center rounded-full lg:h-12 lg:w-12">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-7 w-7"
        ><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path
          d="M40 48C26.7 48 16 58.7 16 72v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V72c0-13.3-10.7-24-24-24H40zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM16 232v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V232c0-13.3-10.7-24-24-24H40c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V392c0-13.3-10.7-24-24-24H40z" ></path></svg
      >
     
    </div>
  </div>
  <h3 class="mb-2 text-xl font-bold text-indigo-600">Automatisk skabeloner</h3>
  <p class="font-sans font-normal text-gray-900">
    Systemet vil foreslå forskellige visuelle skabeloner for både CV'er og jobansøgninger. Disse skabeloner kan variere i design, farver og typografi, så brugeren kan vælge den, der bedst repræsenterer deres personlige stil og passer til den specifikke branche eller virksomhed, de søger job hos.
  </p>
  </section>
  <section class="bg-sky-500">
    <div class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
      <div class="mx-auto max-w-screen-md sm:text-center">
        <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-white dark:text-white sm:text-4xl">Skriv dig op til vores nyhedsbrev</h2>
        <p class="text-white-500 mx-auto mb-8 max-w-2xl font-light dark:text-white sm:text-xl md:mb-12">Skriv dig op til vores nyhedsbrev, og bliv infomere tom updates, og nye funktioner</p>
        <form>
          <div class="mx-auto mb-3 max-w-screen-sm items-center space-y-4 sm:flex sm:space-y-0">
            <div class="relative w-full">
              <label for="email" class="mb-2 hidden text-sm font-medium text-gray-900 dark:text-gray-300">Email</label>
              <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                <svg class="h-5 w-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                  ><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg
                >
              </div>
              <input
                class="focus:ring-primary-500 focus:border-primary-500 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 pl-10 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 sm:rounded-none sm:rounded-l-lg"
                placeholder="Email"
                type="email"
                id="email"
                name="email"
                required
              />
            </div>
            <div>
              <button
                type="submit"
                class="bg-primary-700 border-primary-600 hover:bg-primary-800 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 w-full cursor-pointer rounded-lg border px-5 py-3 text-center text-sm font-bold text-white focus:ring-4 sm:rounded-none sm:rounded-r-lg"
                >Tilmeld</button
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  




  h-auto max-w-full mx-auto transition-all duration-300 rounded-lg blur-sm hover:blur-none


  <!-- <figure class="relative   transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0 m-4 max-w max-h">
<div class="mb-10">
<div class="img">
  <img src="../picturs/BM_pic.jpg" alt="img of cyber man" class="mb-9 px-9   " />
</div>
inset-0 px-4 text-xl text-maintxt text-bold text-center
<figcaption class="  absolute px-4 text-xl text-white bottom-6  ">
  <p>Her skal flyttes ind</p>
</figcaption>
</figure> -->